.title1{margin-left: 20em;

}


.hours1{
	margin-left: 20em;
	
}

.minutes1{
	margin-left: 3em;
	
}

.box{margin-left: 20em;
	   margin-top: 0em;
}

.title2{margin-left: 20em;

}

.hours2{
	margin-left: 20em;
	
}

.minutes2{
	margin-left: 3em;
	
}
