
.title{
    display: flex;
    justify-content: left;
}
.choose{
    display: flex;
    justify-content: flex-end;
    margin-right: 8rem;
    margin-bottom: 2em;
}

.sleep{
  display: flex;
  justify-content: center;    
}
.i_sleep{
    margin-left: 2em;
}
.timegraph{
    display: flex;
    margin-left: 15rem;
    margin-top: 3em;
}
.graph{
    width:30em; 
    height:20em;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
